<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>QuotingDojo</title>
  <style>
    form label, form input {
      display: block;
    }
  </style>
</head>
<body>
  <h2>Here are the awesome quotes!</h2>
  <div class="container">

    <% quotes.forEach(function(quote, index){ %>
      <p>"<%= quote.content %>"</p>
      <p>-<%= quote.name %> at <%= quote.createdAt %></p>
      <p>Likes: <%= quote.likes %></p> 
      <a href="/upvote/<%= quote._id %>">Upvote</a>
      <hr/>
    <% }) %>
    
    <br>
    <a href="/">Home</a>
  </div>
</body>
</html>